[Unit]
Description=RClone Mount Debrid Service
After=network-online.target

[Service]
Type=simple
User=vasu
ExecStart=/usr/bin/rclone mount rd: /home/vasu/rd --dir-cache-time 10s --multi-thread-streams=0 --cutoff-mode=cautious --vfs-cache-mode minimal --network-mode --buffer-size=0 --read-only
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
